[user]
    useConfigOnly = true
[core]
    editor = gvim
    excludesfile = ~/.gitignore
    autocrlf = true
    pager = diff-highlight | less -r
[diff]
    tool = gvimdiff
    guitool = gvimdiff
    compactionHeuristic = true
[difftool "gvimdiff"]
    cmd = gvim -d $LOCAL $REMOTE
[difftool]
    prompt = false
[log]
    date = iso-strict-local
[merge]
    # force fast-forward merge by default to prevent
    # accidental merge commits. if merge commit is
    # required, override this default with --no-ff
    ff = only
    tool = gvimdiff
[mergetool "gvimdiff"]
    cmd = gvim -d $LOCAL $MERGED $REMOTE
[web]
    browser = chrome
[color]
    ui = always
[svn]
    # push empty directory removals back to svn as directory deletes
    rmdir = true
