[user]
    useConfigOnly = true
    name = {{ git_user_name }}
    email = {{ git_user_email }}
    signingkey = {{ git_user_signingkey }}
[core]
    editor = vim
    excludesfile = ~/.gitignore
    autocrlf = true
    pager = diff-so-fancy | less --tabs=4 -RFX
[diff]
    tool = vimdiff
    guitool = gvimdiff
[difftool]
    prompt = false
[log]
    date = iso-strict-local
[merge]
    # force fast-forward merge by default to prevent
    # accidental merge commits. if merge commit is
    # required, override this default with --no-ff
    ff = only
    tool = vimdiff
    guitool = gvimdiff
[color]
    ui = auto
[svn]
    # push empty directory removals back to svn as directory deletes
    rmdir = true
